*{
padding: 0px;
border: 0px;
margin: 0px;
			background: linear-gradient(#4DA6FF,#252525);
}



header{
		height: 130px;
		background: #0068CA;
	    border-radius: 15px 15px 0px 0px;
	    
	    width: 100%

	}
	header:hover {
		color: black
	}
		nav ul{
			list-style: none;
       	display: flex;

        margin: auto;

			
		}
       ul > li > a
       {
       	padding-right: 120px;
        list-style: none;
        text-decoration: none;
        padding-left: 110px;
        font-size: 18px;
        color: #fff;
        background:#C60808 ;
        font-family: "arial black";
        border:2px solid white;
       }
       nav{
       	background:#0083FF ;
       	height: 50px;
width: 1310px;
        margin: auto;

       	display: flex;

       }  


ul > li > a:hover{
	color: #ADADB2
}
		#ee{
text-align: center;
		font-size: 45px;
		padding-top: 15px; 
	    color : #E6E8EA;
	    font-family:"Ravie";
	    padding-left: 60px;
         padding-top: 0px;
        
		
		}
		#c{
	color:white;
	list-style: none;
	margin-top: 10px;
	padding: 15px;
	padding-top: 10px;

}

#slide{
	margin-top: 25px;
	padding-left: 50px;
	padding-bottom:15px;
}

#categorias{
	width: 100%;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 15px;
	display: flex;
}
article{
	width:50%;
}
#categorias article {
	padding: 10px;
}
.uno{
	width: 80%;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
	color:red;
	text-align: justify;

}
h2{
	color: red
}

.parrafo{
	color:white;
	text-align: justify;
}
.dos{
		width: 80%;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
	color:red;
	text-align: justify;
	
}

.tres{
		width: 80%;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
	color:red;
	text-align: justify;
	
}










